div.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
}

.image {
  max-width: 90%;
  height: auto;
}

h5 {
  max-width: 75%;
  margin-bottom: 12px;
}

p {
  color: #808080;
  font-size: .7em;
}

p strong {
  color: black;
}

.col {
  width: 100%;
  margin-bottom: 20px;
}

/* For tablets: */
@media only screen and (min-width: 426px) {
  .col {
    width: 33.33%;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 769px) {
  .col {
    width: 25%;
    margin-bottom: 25x;
  }
}